html {
    height: 100%;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows:
      auto
      /* header */
      minmax(50px, auto)
      /* nav */
      1fr
      /* content */
      minmax(50px, auto)
      /* sidebar */
      auto;
    /* footer */
    grid-gap: 10px;
    height: 100vh;
  }
  
  
  @media (min-width:768px) {
    body {
      display: grid;
      grid-template-areas:
        "header header header"
        "nav main sidebar"
        "footer footer footer";
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: auto 1fr auto;
  
    }
  }
  header {
    grid-area: header;
    background-color: lime;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  nav {
    grid-area: nav;
    background-color: gray;
    padding: 1rem;
  }
  main {
    grid-area: main;
    background-color: lightblue;
    padding: 1rem;
  }
  aside {
    grid-area: sidebar;
    background-color: gray;
    padding: 1rem;
  }
  footer {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;  
  }